.welcome{
    display: flex;
    /* height: 77vh; */
    background-color: burlywood;
    font-family: 'Baloo Bhai 2', sans-serif;
}
.note{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}
.note p{
    font-size: 2.2vh;
    
}
.note h1{
    font-size: 5vh;
    font-weight: 800;
}
.perks{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1%;
}
.perks li{
    color: rgb(66, 50, 50);
    font-size: 2.5vh;
}
.perks h1{
    font-size: 5vh;
    font-weight: 800;
}
.perks h3{
    color: blueviolet;
    font-size: 3vh;
    font-weight: 700;
}
@media screen and (max-width: 1024px) {
    .welcome {
      flex-direction: column;
    }
  
    .note,
    .perks {
      width: 100%;
    }
  }
  
  /* Styles for smaller screens */
  @media screen and (max-width: 768px) {
    .note,
    .perks {
      width: 100%;
      margin: 20px 0;
    }
    .iMage{
      display: none;
    }
  }